body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
}

.table {
    margin-top: 20px;
}

.loading {
    display: none;
    text-align: center;
    margin-top: 20px;
}

thead.thead-dark th {
    background-color: #343a40;
    color: #fff;
}
