@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Kullanici Yonetim Paneli</title>
    <script>
        function closeApp() {
            window.close();
        }
    </script>
  
    <link rel="stylesheet" href="~/startboost/css/styles.css">
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="/">Kullanıcı Yönetim Paneli</a>
        <!-- Sidebar Toggle-->
       
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4" >
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" style="margin-left:40px;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                
                    <li><a class="dropdown-item" href="#!" onclick="closeApp()">Logout</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-light" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="nav">
                       
                        <div class="sb-sidenav-menu-heading">Kullanici İslemleri</div>
                        <a class="nav-link" href="/User/AddUser">
                            <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                            Kullanici Ekle
                        </a>
                        <a class="nav-link" href="/User/Users">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Kullanici İslemleri
                        </a>
                    </div>
                </div>
                <div class="sb-sidenav-footer">
                    <div class="small">Logged in as:</div>
                    Fatih AKCE
                   
                </div>
            </nav>
        </div>
        <div id="layoutSidenav_content">
            <main>
                @RenderBody()
            </main>
            <footer class="py-4 bg-light mt-auto">
              
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
</body>
</html>
